{% extends 'base.html' %}

{% block title %}Home {% endblock title %}

{% block body %}

    <style>
      .profile-pic {
        max-width: 200px;
        max-height: 200px;
        margin: 0 auto;
        border-radius: 50%;
        border: 1px solid black;
      }
    </style>
    <h1>Assignment Tool</h1>
    {% if user.is_authenticated %}
    <h1>Welcome {{user.username}}</h1>
    {% if request.user.student.profile_pic %}
    <img
      class="profile-pic"
      src="{{request.user.student.profile_pic.url}}"
    />
    {% endif %}
    <p>{{user.student.bio}}</p>
    <p><a href="{% url 'logout' %}">Logout</a></p>
    <p><a href="{% url 'password_change' %}">Change Password</a></p>
    <br /><br />
    <hr />
    <a href="{% url 'update_student' %}"><button>Update Profile</button></a>
    {% endif %}
{% endblock body %}
