<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <h2>{{assignment.title}}</h2>
    <p>Created: {{assignment.created}}</p>
    <h4>Teacher: {{assignment.instructor.user.username}}</h4>
    <p>Deadline: <strong>{{assignment.deadline}}</strong></p>
    <h4>Description</h4>
    <p>{{assignment.description}}</p>
    {% if assignment.assignment_pdf %}
    <p>Prog File: <a href="{{assignment.assignment_pdf.url}}">URL</a></p>
    {% endif %} <br />
    {% if assignment.input_test_cases %}
    <p>Input Case: <a href="{{assignment.input_test_cases.url}}">URL</a></p>
    {% endif %}
    <p>Last Updated: {{assignment.last_modified}}</p>
    <a href="{% url 'home_instructor' %}"><button>Back</button></a>
    <hr />
    {% if is_instructor %}
    <h3>Sections Sent</h3>
    <a href="{% url 'send_assignment' assignment.id %}"
      ><button>Send Now</button></a
    >
    <ul>
      {% for section in sent_sections %}
      <li>
        <a href="{% url 'view_section' section.class_name.id section.id %}"
          >{{section.name}} - {{section.class_name.name}}</a
        >
      </li>
      {% endfor %}
    </ul>
    <hr />
    <h3>Submissions:</h3>
    <p>Submitted</p>
    <ul>
      {% for submitted_assignment in instructor_submissions_submitted %}
      <li>
        <p>
          {{submitted_assignment.student}}
          <a href="{% url 'view_submission' submission.id %}">View</a>
        </p>
      </li>
      {% endfor %}
    </ul>
    <p>Not Submitted</p>
    <ul>
      {% for not_submitted_assignment in instructor_submissions_not_submitted %}

      <li>{{not_submitted_assignment.student}}</li>
      {% endfor %}
    </ul>
    {% endif %}
    <br />
    {% if is_student %}
    <br />
    {% if not student_submitted %}
    <h3>Submission Form</h3>
    <a href="{% url 'submit_assignment' assignment.id %}"
      ><button>Submit Here</button></a
    >
    <br />
    {% else %}
    <h3>Submission</h3>
    <a href="{{submission.submission_file.url}}"
      >{{submission.submission_file.name}}</a
    >
    <br />
    {% endif %} {% endif %}
  </body>
</html>
