<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <h2>{{assignment.title}}</h2>
    <p>Created: {{assignment.created}}</p>
    <h4>Teacher: {{assignment.instructor.user.username}}</h4>
    <p>Deadline: <strong>{{assignment.deadline}}</strong></p>
    <h4>Description</h4>
    <p>{{assignment.description}}</p>
    <p>Prog File: <a href="{{assignment.assignment_pdf.url}}">URL</a></p>
    <p>Input Case: <a href="{{assignment.input_test_cases.url}}">URL</a></p>
    <p>Last Updated: {{assignment.last_modified}}</p>
    <a href="{% url 'home_instructor' %}"><button>Back</button></a>
  </body>
</html>
